button{
    border:none; 
    height:60px;
    width:60px;
    margin:10px;
    background-color: rgb(243, 236, 236);
}
input{
    width:260px;
    border:none;
    padding:24px;
    margin:10px;
    background-color: rgb(238, 232, 232);
}
body{
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    
}
.operator{
    background-color:  rgb(14, 220, 238);
}
.calculator{
    border: 1px solid rgb(8, 8, 8);
    margin: 20px;
    background-color: rgb(23, 21, 22);


}